bin
**.swp
*~
build_*
devel_*
logs_*
CMakeLists.txt.user
CMakeFiles

.catkin_tools
**_debug
**_release
**.pch

build
devel
devel_release
logs
logs_release
*.log
*.plot

src/*
!src/client/
!src/viewer/
!src/ai/
!src/.clang_complete

machine.dot
**.pch

.vscode/
