body {
    font-family:sans-serif;
    background-color:#222 !important;
    margin:0 !important;
    color:#aaa !important;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.field-zone {
    width:80%;
    height:600px;
    border-bottom:1px solid #aaa;
    border-right:1px solid #aaa;
}

canvas.field {
    width:100%;
    height:100%;
}

.panel-right {
    padding:5px;
}
